!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get all users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
</head>
<body class="container w-50">
<table class="table">
    <thead>
    <tr>
        <th scope="col">#Id</th>
        <th scope="col"> Full name</th>
        <th scope="col">Email</th>
        <th scope="col">Login</th>
        <th scope="col">password</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>

    <h1 style="width: 50%"><strong>Users</strong> </h1>
    <div th:each="VIEW:${modelGetAllUser}">
        <td>
            <a th:href="@{/user/{id}(id=${user.getId()})}"></a>

            <a th:text="${user.getId()}"></a>
        <td> <a th:text="${user.getFullName}"></a></td>
        <td>  <a th:text="${student.getEmail()}"></a></td>
        <td> <a th:text="${student.getLogin()}"></a></td>
        <td>  <a th:text="${student.getPassword()}"></a></td>

        <td> <a th:href="@{/user/{id}/editUser(id=${user.getId()})}">Edit </a></td>

        <td> <form th:method="POST" th:action="@{/user/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete">
        </form>
        </td>

    </div>
</table>
<a style="margin-left: 360px" href="/student/new" type="submit" class="btn btn-primary">new Student</a>
</body>
</html>