<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>get by id Users</title>
</head>
<body>
<p th:text="${modelUserByID}"></p>
<p th:text="${modelUserByID.getId()}"></p>
<p th:text="${modelUserByID.getEmail()}"> </p>
<p th:text="${modelUserByID.getLogin()}"></p>
<p th:text="${modelUserByID.getPassword()}"></p>
</body>
</html>